* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: 'Nunito Serif';
}

#root, html, body, .app {
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-shadow: none;
}